@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	overflow-x:hidden;
}

body {
	font-family: "Merriweather", serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	color: #5e493a;
}

body.fh5co-overflow {
	overflow-x: auto;
}

a {
	color: #fb6e14;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover, a:focus, a:active {
	color: #bf4c03;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", serif;
	color: #000;
}

p{
	margin-bottom: 30px;
}

.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: "Playfair Display", serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.btn.btn-md {
	padding: 10px 20px !important;
}

.btn.btn-lg {
	padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-primary {
	background: #fb6e14;
	color: #fff;
	border: 2px solid #fb6e14;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #f16104 !important;
	border-color: #f16104 !important;
}

.btn-primary.btn-outline {
	background: transparent;
	color: #fb6e14;
	border: 2px solid #fb6e14;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
	background: #fb6e14;
	color: #fff;
}

.btn-success {
	background: #58ca7e;
	color: #fff;
	border: 2px solid #58ca7e;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background: #45c46f !important;
	border-color: #45c46f !important;
}

.btn-success.btn-outline {
	background: transparent;
	color: #58ca7e;
	border: 2px solid #58ca7e;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
	background: #58ca7e;
	color: #fff;
}

.btn-info {
	background: #1784fb;
	color: #fff;
	border: 2px solid #1784fb;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	background: #0477f4 !important;
	border-color: #0477f4 !important;
}

.btn-info.btn-outline {
	background: transparent;
	color: #1784fb;
	border: 2px solid #1784fb;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
	background: #1784fb;
	color: #fff;
}

.btn-warning {
	background: #fed330;
	color: #fff;
	border: 2px solid #fed330;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background: #fece17 !important;
	border-color: #fece17 !important;
}

.btn-warning.btn-outline {
	background: transparent;
	color: #fed330;
	border: 2px solid #fed330;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
	background: #fed330;
	color: #fff;
}

.btn-danger {
	background: #fb4f59;
	color: #fff;
	border: 2px solid #fb4f59;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
	background: #fa3641 !important;
	border-color: #fa3641 !important;
}

.btn-danger.btn-outline {
	background: transparent;
	color: #fb4f59;
	border: 2px solid #fb4f59;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
	background: #fb4f59;
	color: #fff;
}

.btn-outline {
	background: none;
	border: 2px solid gray;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	box-shadow: none;
}

.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
}

.form-control:active, .form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #fb6e14;
}

#get-content {
	font-size:16px;
	height: 100%;
	color: black;
	font-family: 'Playfair Display', serif;
	display: none;
	padding-top: 88px;
}

#get-content-price{
	color: #fb6e14;
	font-size: 20px;
	padding-left: 10px;
}

#get-content-desc{
	padding-top: 10px;
	text-align: justify;
}

#get-content-image{
	max-width: 220px;
}

.my-menu-category-label {
	padding-bottom: 28px;
}

.my-menu-category {
	padding-bottom: 40px;
}